# Compiled backend output
/server/dist
/server/node_modules
/server/build

# Compiled client output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out
/client/node_modules
/clientnpm-debug.log
/clientyarn-error.log

# Logs
/serverlogs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/server/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Miscellaneous
/client/.angular/cache
/client.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/clienttestem.log
/client/typings

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.lh